*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 100px;
    background: white;
    position:fixed;
}
.menu{
    margin-left: 30%;
   
}
.logo{
   padding: 0;
   margin: 0;
   float: left;
}
img{
    width: 200px;
    height: 120px;
}
.wapper{
    margin-top: 30px;
    height: 30px;
    float: right;
}
.wapper li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}
.wapper li a {
    width: 150px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: black;
}
.wapper ul ul li a{
    width: 200px;
    text-align: left;
}
.wapper li a:hover{
    background-color: rgb(195, 195, 195);
}
.wapper ul ul{
    position: absolute;
    top: 30px;
    left: 5px;
    visibility: hidden;
    background: white;
}
.wapper ul li:hover ul{
    visibility: visible;
}
.banner{
    padding: 0;
    margin: 0;
}
.banner img{
    width: 100%;
    height: 850px;
}
.main{
    padding: 0;
    margin: 0;
}
.ban{
    font-size: 55px;
    margin-top: 45px;
    text-align: center;
}
.xem{
    margin-top: 50px;
    width: 150px;
    height: 30px;
   margin-left: 47%;
}
.xem a{
    text-decoration: none;
    border: 3px solid rgb(98, 180, 172);
    color: rgb(98, 180, 172);
}
.content{
    
    max-width: 1170px;
    margin: 0px auto;
}
.product{
    list-style: none;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product li{
margin-bottom: 40px;
}
.product-thumb img{
    width: 370px;
    height: 400px;
}
.product-info a{
    text-align: center;
    text-decoration: none;
    display: block;
}
.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #b8b7b7;
}
.product-name{
    font-size: 25px;
    padding: 3px 0px;
    color: rgb(109, 209, 255);
}
.product-price{
    color: black;
    text-align: center;
}
.buy-now{
    text-align: center;
}
.footer{
    width: 100%;
    height: 150px;
    background: white;
}
.footer ul{
   text-align: center;
    text-decoration: none;
    display: block;
    list-style: none;
    margin-top: 5px;
    font-size: 20px;
}
